In [1]:
import pandas as pd
from datetime import datetime
import time
import os
import glob
from dateutil.parser import parse

In [2]:
folder = '../Datasets/sp500indexand11sectors/'
files = [i for i in glob.glob(folder + '*.csv')]

In [3]:
# list=[pd.read_csv(filename, header=None, usecols=[0,1,2,3,4]) for filename in files]

In [11]:
for fp in files:
    #df=pd.read_csv(fp, header=None, usecols=[0,1,2,3,4])
    df=pd.read_csv(fp, usecols=[0,1,2,3,4])
    #df.columns = ['Date','Open', 'High', 'Low', 'Close']
    for i in df['Date']:
        df['Date'] = parse(i).strftime("%Y-%m-%d")
    #there are some errors returning df for certain dates, need to fix later
    #pd.to_datetime(df['Date'])
    #df = df.loc[(df['Date'] >= '2020-03-12') & (df['Date'] <= '2021-12-31')]
    #df.to_csv(fp,index=False)

In [12]:
df.head()

         Date   Open   High    Low  Close
0  1989-09-11  80.46  80.46  80.46  80.46
1  1989-09-11  80.60  80.60  80.60  80.60
2  1989-09-11  79.77  79.77  79.77  79.77
3  1989-09-11  79.05  79.05  79.05  79.05
4  1989-09-11  79.69  79.69  79.69  79.69

In [26]:
df = df.loc[(df['Date'] >= '2020-03-12') & (df['Date'] <= '2021-12-31')]
df

Empty DataFrame
Columns: [Date, Open, High, Low, Close]
Index: []

In [19]:
df.dtypes

Date      object
Open     float64
High     float64
Low      float64
Close    float64
dtype: object

### Test codes

In [27]:
df.dtypes

Date      object
Open     float64
High     float64
Low      float64
Close    float64
dtype: object

In [64]:
# Test convert time
parse("9/11/89 0:00")

datetime.datetime(1989, 9, 11, 0, 0)

In [65]:
test = parse(str("9/11/89 0:00")).strftime("%Y-%m-%d")
test

'1989-09-11'

In [69]:
filename = os.path.basename('../Datasets/sp500indexand11sectors/SPX INDEX.csv')
filename

'SPX INDEX.csv'