In [1]:
# Import the requests library.
import requests
import pandas as pd

In [2]:
# Import the API key.
from config import polygon_api_key

In [3]:
# Test the stock data acquisition 
tickers='EDIT'

In [4]:
# Starting URL for Polygon API Call - from 2020-03-12 to 2021-12-31
url = "https://api.polygon.io/v2/aggs/ticker/" + tickers + "/range/1/day/2020-03-12/2021-12-31?adjusted=true&sort=asc&limit=730&apiKey=" + polygon_api_key
print(url)

https://api.polygon.io/v2/aggs/ticker/EDIT/range/1/day/2020-03-12/2021-12-31?adjusted=true&sort=asc&limit=730&apiKey=3KpZPDXRUCksP8Xb5AJKkXI02s8x5VXx

In [5]:
EDIT_stock = requests.get(url)

In [6]:
EDIT_stock = EDIT_stock.json()

In [41]:
EDIT_df=pd.DataFrame(EDIT_stock['results'])
EDIT_df

             v       vw      o      c        h      l              t      n
0    1757514.0  17.9240  19.01  17.76  19.1800  16.94  1583985600000  16829
1    1615553.0  18.3653  19.43  19.35  19.4600  16.76  1584072000000  13948
2    1518511.0  15.6711  14.83  14.88  17.0500  14.01  1584331200000  14630
3    1642534.0  15.8749  15.49  16.78  17.2262  14.10  1584417600000  13835
4    1918046.0  17.8133  16.06  18.29  18.8227  15.37  1584504000000  17126
..         ...      ...    ...    ...      ...    ...            ...    ...
452  1411309.0  28.3336  29.85  28.15  29.8500  27.84  1640581200000  14601
453  1251507.0  28.1929  27.94  27.90  29.2100  27.70  1640667600000  14581
454  1436212.0  27.1724  27.73  27.08  27.9700  26.69  1640754000000  15410
455  1215296.0  28.0688  27.05  27.79  28.7900  26.90  1640840400000  14532
456  1144202.0  27.1498  27.71  26.55  28.7400  26.51  1640926800000  13493

[457 rows x 8 columns]

In [7]:
len(EDIT_stock["results"])

457

In [8]:
EDIT_data=EDIT_stock["results"]
EDIT_data[0]

{'v': 1757514.0,
 'vw': 17.924,
 'o': 19.01,
 'c': 17.76,
 'h': 19.18,
 'l': 16.94,
 't': 1583985600000,
 'n': 16829}

In [9]:
EDIT_df=pd.DataFrame(EDIT_data)
EDIT_df.head()

           v       vw      o      c        h      l              t      n
0  1757514.0  17.9240  19.01  17.76  19.1800  16.94  1583985600000  16829
1  1615553.0  18.3653  19.43  19.35  19.4600  16.76  1584072000000  13948
2  1518511.0  15.6711  14.83  14.88  17.0500  14.01  1584331200000  14630
3  1642534.0  15.8749  15.49  16.78  17.2262  14.10  1584417600000  13835
4  1918046.0  17.8133  16.06  18.29  18.8227  15.37  1584504000000  17126

In [10]:
titles={'v':'trading volume', 'vw':'volume weighted average price', 'o':'open', 'c':'close', 'h':'highest', 'l':'lowest', 't':'Unix Msec timestamp', 'n':'number of transactions'}

In [11]:
EDIT_df=EDIT_df.rename(columns=titles)

In [12]:
EDIT_df.head()

,trading volume,volume weighted average price,open,close,highest,lowest,Unix Msec timestamp,number of transactions
0,1757514.0,17.9240,19.01,17.76,19.1800,16.94,1583985600000,16829
1,1615553.0,18.3653,19.43,19.35,19.4600,16.76,1584072000000,13948
2,1518511.0,15.6711,14.83,14.88,17.0500,14.01,1584331200000,14630
3,1642534.0,15.8749,15.49,16.78,17.2262,14.10,1584417600000,13835
4,1918046.0,17.8133,16.06,18.29,18.8227,15.37,1584504000000,17126

In [13]:
EDIT_df.dtypes

trading volume                   float64
volume weighted average price    float64
open                             float64
close                            float64
highest                          float64
lowest                           float64
Unix Msec timestamp                int64
number of transactions             int64
dtype: object

In [14]:
# Change Unix timestemp to date 
from datetime import datetime
# test use: unix_timestamp = datetime.now().timestamp()

In [15]:
# Getting date and time in local time
# Convert mSec to S
timestamp=EDIT_df['Unix Msec timestamp']/1000
timestamp

0      1.583986e+09
1      1.584072e+09
2      1.584331e+09
3      1.584418e+09
4      1.584504e+09
           ...
452    1.640581e+09
453    1.640668e+09
454    1.640754e+09
455    1.640840e+09
456    1.640927e+09
Name: Unix Msec timestamp, Length: 457, dtype: float64

In [16]:
datetime.fromtimestamp(1.598846e+09)

datetime.datetime(2020, 8, 30, 20, 53, 20)

In [17]:
test=datetime.fromtimestamp(int(timestamp[0]))
test_format=test.strftime("%Y-%m-%d")
print(test_format)

2020-03-11

In [ ]:
date=[]

for i in timestamp:
    time=datetime.fromtimestamp(int(i)).strftime("%Y-%m-%d")
    date.append(time)
    next
    
print(date)

In [28]:
EDIT_df['Date']=date
EDIT_df.drop(columns='Unix Msec timestamp')

,trading volume,volume weighted average price,open,close,highest,lowest,number of transactions,Date
0,1757514.0,17.9240,19.01,17.76,19.1800,16.94,16829,2020-03-11
1,1615553.0,18.3653,19.43,19.35,19.4600,16.76,13948,2020-03-12
2,1518511.0,15.6711,14.83,14.88,17.0500,14.01,14630,2020-03-15
3,1642534.0,15.8749,15.49,16.78,17.2262,14.10,13835,2020-03-16
4,1918046.0,17.8133,16.06,18.29,18.8227,15.37,17126,2020-03-17
...,...,...,...,...,...,...,...,...
452,1411309.0,28.3336,29.85,28.15,29.8500,27.84,14601,2021-12-26
453,1251507.0,28.1929,27.94,27.90,29.2100,27.70,14581,2021-12-27
454,1436212.0,27.1724,27.73,27.08,27.9700,26.69,15410,2021-12-28
455,1215296.0,28.0688,27.05,27.79,28.7900,26.90,14532,2021-12-29
456,1144202.0,27.1498,27.71,26.55,28.7400,26.51,13493,2021-12-30

In [29]:
EDIT_df.isnull().sum()

trading volume                   0
volume weighted average price    0
open                             0
close                            0
highest                          0
lowest                           0
Unix Msec timestamp              0
number of transactions           0
Date                             0
dtype: int64