In [5]:
# Import the requests library.
import requests
import pandas as pd

In [6]:
# Import the API key.
from config import polygon_api_key

In [3]:
# Test the stock data acquisition 
tickers='NVAX'

In [4]:
# Starting URL for Polygon API Call - from 2020-03-12 to 2021-12-31
url = "https://api.polygon.io/v2/aggs/ticker/" + tickers + "/range/1/day/2020-03-12/2021-12-31?adjusted=true&sort=asc&limit=730&apiKey=" + polygon_api_key
print(url)

https://api.polygon.io/v2/aggs/ticker/NVAX/range/1/day/2020-03-12/2021-12-31?adjusted=true&sort=asc&limit=730&apiKey=3KpZPDXRUCksP8Xb5AJKkXI02s8x5VXx

In [5]:
NVAX_stock = requests.get(url)

In [6]:
NVAX_stock = NVAX_stock.json()

In [7]:
NVAX_df=pd.DataFrame(NVAX_stock['results'])
NVAX_df

,v,vw,o,c,h,l,t,n
0,5488378.0,9.6803,9.510,9.29,10.47,9.15,1583985600000,29246
1,6115375.0,8.3492,9.500,8.41,9.73,7.52,1584072000000,29065
2,4779370.0,7.3645,7.770,6.91,8.14,6.77,1584331200000,26430
3,11623967.0,9.0007,8.000,9.50,10.19,7.85,1584417600000,51842
4,11034050.0,10.6100,8.850,10.65,11.48,8.80,1584504000000,51365
...,...,...,...,...,...,...,...,...
452,8934203.0,160.0433,168.555,157.80,169.39,155.11,1640581200000,159765
453,12384643.0,162.9178,153.160,155.84,175.99,153.10,1640667600000,185409
454,7511780.0,150.6786,153.280,153.25,155.28,144.56,1640754000000,111874
455,5093321.0,154.1007,152.780,154.83,159.00,148.86,1640840400000,82034
456,9096268.0,147.5569,151.470,143.07,156.81,141.51,1640926800000,136453

In [8]:
len(NVAX_stock["results"])

457

In [9]:
NVAX_data=NVAX_stock["results"]
NVAX_data[0]

{'v': 5488378.0,
 'vw': 9.6803,
 'o': 9.51,
 'c': 9.29,
 'h': 10.47,
 'l': 9.15,
 't': 1583985600000,
 'n': 29246}

In [10]:
NVAX_df=pd.DataFrame(NVAX_data)
NVAX_df.head()

            v       vw     o      c      h     l              t      n
0   5488378.0   9.6803  9.51   9.29  10.47  9.15  1583985600000  29246
1   6115375.0   8.3492  9.50   8.41   9.73  7.52  1584072000000  29065
2   4779370.0   7.3645  7.77   6.91   8.14  6.77  1584331200000  26430
3  11623967.0   9.0007  8.00   9.50  10.19  7.85  1584417600000  51842
4  11034050.0  10.6100  8.85  10.65  11.48  8.80  1584504000000  51365

In [16]:
## options for getting a couple more covid tickers
Covid_Tickers = ["AZN","BNTX"]

In [20]:
Covid_stocks = pd.DataFrame(index=None)
for ticker in Covid_Tickers:
    # URL for Polygon API Call - from 2020-03-12 to 2021-12-31
    url = "https://api.polygon.io/v2/aggs/ticker/" + ticker + "/range/1/day/2020-03-12/2021-12-31?adjusted=true&sort=asc&limit=730&apiKey=" + polygon_api_key
    resp = requests.get(url)
    
    if resp.status_code != 200:
        print(f"Error {url}")
        continue
    
    data=resp.json()
    
    df=pd.DataFrame(data['results'])
    df['Ticker']=data['ticker']
    
    Covid_stocks=Covid_stocks.append(df)

    next

print('Complete')

Complete

In [21]:
Covid_stocks.groupby('Ticker').count()

          v   vw    o    c    h    l    t    n
Ticker
AZN     457  457  457  457  457  457  457  457
BNTX    457  457  457  457  457  457  457  457

## Clean-up dataframe

In [23]:
titles={'v':'Trading Volume', 'vw':'Volume Weighted Average Price', 'o':'Open', 'c':'Close', 'h':'High', 'l':'Low', 't':'Unix Msec timestamp', 'n':'Number of Transactions'}

In [24]:
# clean data for the covid_stocks
Covid_stocks=Covid_stocks.rename(columns=titles)

In [25]:
Covid_stocks.head()

,Trading Volume,Volume Weighted Average Price,Open,Close,High,Low,Unix Msec timestamp,Number of Transactions,Ticker
0,5481241.0,40.6231,41.30,40.76,41.580,39.47,1583985600000,41177,AZN
1,11932334.0,40.1432,41.57,42.28,42.460,38.58,1584072000000,39042,AZN
2,7347276.0,37.9559,36.81,37.79,38.885,36.15,1584331200000,52572,AZN
3,5430385.0,40.2539,39.25,40.93,41.510,38.95,1584417600000,36304,AZN
4,4931210.0,38.9971,38.23,39.36,39.920,38.23,1584504000000,40658,AZN

In [26]:
Covid_stocks.dtypes

Trading Volume                   float64
Volume Weighted Average Price    float64
Open                             float64
Close                            float64
High                             float64
Low                              float64
Unix Msec timestamp                int64
Number of Transactions             int64
Ticker                            object
dtype: object

In [27]:
# Change Unix timestemp to date 
from datetime import datetime
# test use: unix_timestamp = datetime.now().timestamp()

In [28]:
# Getting date and time in local time
# Convert mSec to S
timestamp=Covid_stocks['Unix Msec timestamp']/1000
timestamp

0      1.583986e+09
1      1.584072e+09
2      1.584331e+09
3      1.584418e+09
4      1.584504e+09
           ...
452    1.640581e+09
453    1.640668e+09
454    1.640754e+09
455    1.640840e+09
456    1.640927e+09
Name: Unix Msec timestamp, Length: 914, dtype: float64

In [29]:
datetime.fromtimestamp(1.598846e+09)

datetime.datetime(2020, 8, 30, 20, 53, 20)

In [30]:
test=datetime.fromtimestamp(int(timestamp[0]))
test_format=test.strftime("%Y-%m-%d")
print(test_format)

TypeError: cannot convert the series to <class 'int'>

In [31]:
date=[]

for i in timestamp:
    time=datetime.fromtimestamp(int(i)).strftime("%Y-%m-%d")
    date.append(time)
    next
    
print(date)

['2020-03-11', '2020-03-12', '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-26', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14', '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-25', '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-31', '2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-14', '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29', '2020-07-30', '2020-08-02', '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-09', '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-16', '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-07', '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-13', '2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-20', '2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24', '2020-09-27', '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01', '2020-10-04', '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-11', '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-18', '2020-10-19', '2020-10-20', '2020-10-21', '2020-10-22', '2020-10-25', '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29', '2020-11-01', '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-08', '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18', '2020-11-19', '2020-11-22', '2020-11-23', '2020-11-24', '2020-11-26', '2020-11-29', '2020-11-30', '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-06', '2020-12-07', '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16', '2020-12-17', '2020-12-20', '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-27', '2020-12-28', '2020-12-29', '2020-12-30', '2021-01-03', '2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-18', '2021-01-19', '2021-01-20', '2021-01-21', '2021-01-24', '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-31', '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-07', '2021-02-08', '2021-02-09', '2021-02-10', '2021-02-11', '2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-21', '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25', '2021-02-28', '2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11', '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18', '2021-03-21', '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-28', '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-04', '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08', '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-18', '2021-04-19', '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28', '2021-04-29', '2021-05-02', '2021-05-03', '2021-05-04', '2021-05-05', '2021-05-06', '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12', '2021-05-13', '2021-05-16', '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20', '2021-05-23', '2021-05-24', '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-31', '2021-06-01', '2021-06-02', '2021-06-03', '2021-06-06', '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-12', '2021-09-13', '2021-09-14', '2021-09-15', '2021-09-16', '2021-09-19', '2021-09-20', '2021-09-21', '2021-09-22', '2021-09-23', '2021-09-26', '2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30', '2021-10-03', '2021-10-04', '2021-10-05', '2021-10-06', '2021-10-07', '2021-10-10', '2021-10-11', '2021-10-12', '2021-10-13', '2021-10-14', '2021-10-17', '2021-10-18', '2021-10-19', '2021-10-20', '2021-10-21', '2021-10-24', '2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28', '2021-10-31', '2021-11-01', '2021-11-02', '2021-11-03', '2021-11-04', '2021-11-07', '2021-11-08', '2021-11-09', '2021-11-10', '2021-11-11', '2021-11-14', '2021-11-15', '2021-11-16', '2021-11-17', '2021-11-18', '2021-11-21', '2021-11-22', '2021-11-23', '2021-11-25', '2021-11-28', '2021-11-29', '2021-11-30', '2021-12-01', '2021-12-02', '2021-12-05', '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-12', '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-19', '2021-12-20', '2021-12-21', '2021-12-22', '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29', '2021-12-30', '2020-03-11', '2020-03-12', '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-26', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14', '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-25', '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-31', '2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-14', '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29', '2020-07-30', '2020-08-02', '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-09', '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-16', '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-07', '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-13', '2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-20', '2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24', '2020-09-27', '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01', '2020-10-04', '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-11', '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-18', '2020-10-19', '2020-10-20', '2020-10-21', '2020-10-22', '2020-10-25', '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29', '2020-11-01', '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-08', '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18', '2020-11-19', '2020-11-22', '2020-11-23', '2020-11-24', '2020-11-26', '2020-11-29', '2020-11-30', '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-06', '2020-12-07', '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16', '2020-12-17', '2020-12-20', '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-27', '2020-12-28', '2020-12-29', '2020-12-30', '2021-01-03', '2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-18', '2021-01-19', '2021-01-20', '2021-01-21', '2021-01-24', '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-31', '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-07', '2021-02-08', '2021-02-09', '2021-02-10', '2021-02-11', '2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-21', '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25', '2021-02-28', '2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11', '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18', '2021-03-21', '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-28', '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-04', '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08', '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-18', '2021-04-19', '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28', '2021-04-29', '2021-05-02', '2021-05-03', '2021-05-04', '2021-05-05', '2021-05-06', '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12', '2021-05-13', '2021-05-16', '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20', '2021-05-23', '2021-05-24', '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-31', '2021-06-01', '2021-06-02', '2021-06-03', '2021-06-06', '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-12', '2021-09-13', '2021-09-14', '2021-09-15', '2021-09-16', '2021-09-19', '2021-09-20', '2021-09-21', '2021-09-22', '2021-09-23', '2021-09-26', '2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30', '2021-10-03', '2021-10-04', '2021-10-05', '2021-10-06', '2021-10-07', '2021-10-10', '2021-10-11', '2021-10-12', '2021-10-13', '2021-10-14', '2021-10-17', '2021-10-18', '2021-10-19', '2021-10-20', '2021-10-21', '2021-10-24', '2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28', '2021-10-31', '2021-11-01', '2021-11-02', '2021-11-03', '2021-11-04', '2021-11-07', '2021-11-08', '2021-11-09', '2021-11-10', '2021-11-11', '2021-11-14', '2021-11-15', '2021-11-16', '2021-11-17', '2021-11-18', '2021-11-21', '2021-11-22', '2021-11-23', '2021-11-25', '2021-11-28', '2021-11-29', '2021-11-30', '2021-12-01', '2021-12-02', '2021-12-05', '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-12', '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-19', '2021-12-20', '2021-12-21', '2021-12-22', '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29', '2021-12-30']

In [32]:
Covid_stocks['Date']=date
Covid_stocks.drop(columns='Unix Msec timestamp')

,Trading Volume,Volume Weighted Average Price,Open,Close,High,Low,Number of Transactions,Ticker,Date
0,5481241.0,40.6231,41.30,40.76,41.5800,39.47,41177,AZN,2020-03-11
1,11932334.0,40.1432,41.57,42.28,42.4600,38.58,39042,AZN,2020-03-12
2,7347276.0,37.9559,36.81,37.79,38.8850,36.15,52572,AZN,2020-03-15
3,5430385.0,40.2539,39.25,40.93,41.5100,38.95,36304,AZN,2020-03-16
4,4931210.0,38.9971,38.23,39.36,39.9200,38.23,40658,AZN,2020-03-17
...,...,...,...,...,...,...,...,...,...
452,1515642.0,256.4526,253.24,254.84,259.9000,250.23,31055,BNTX,2021-12-26
453,2555171.0,245.9939,250.35,241.40,256.4854,238.27,49045,BNTX,2021-12-27
454,2713692.0,238.4607,235.12,240.61,244.3000,231.73,43521,BNTX,2021-12-28
455,2353520.0,251.8848,239.02,256.81,258.8200,238.00,36782,BNTX,2021-12-29
456,1159051.0,258.4223,253.56,257.80,263.9499,251.37,21248,BNTX,2021-12-30

In [33]:
Covid_stocks.isnull().sum()

Trading Volume                   0
Volume Weighted Average Price    0
Open                             0
Close                            0
High                             0
Low                              0
Unix Msec timestamp              0
Number of Transactions           0
Ticker                           0
Date                             0
dtype: int64

In [37]:
#Covid_stocks['Ticker']='NVAX'
#Covid_stocks.head()

In [38]:
Covid_stocks=Covid_stocks[['Ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Trading Volume', 'Volume Weighted Average Price', 'Number of Transactions']]
Covid_stocks.head()

,Ticker,Date,Open,High,Low,Close,Trading Volume,Volume Weighted Average Price,Number of Transactions
0,AZN,2020-03-11,41.30,41.580,39.47,40.76,5481241.0,40.6231,41177
1,AZN,2020-03-12,41.57,42.460,38.58,42.28,11932334.0,40.1432,39042
2,AZN,2020-03-15,36.81,38.885,36.15,37.79,7347276.0,37.9559,52572
3,AZN,2020-03-16,39.25,41.510,38.95,40.93,5430385.0,40.2539,36304
4,AZN,2020-03-17,38.23,39.920,38.23,39.36,4931210.0,38.9971,40658

## Append NVAX to SPX_Health_Sector_stocks

In [39]:
import os

In [40]:
# Path
path = "/Users/swang/UCB/Final_Project/Health_Sector_stocks_API"

In [41]:
# Join various path components
csv=os.path.join(path, "SPX_Health_Sector_stocks.csv")
print(csv)

/Users/swang/UCB/Final_Project/Health_Sector_stocks_API/SPX_Health_Sector_stocks.csv

In [42]:
SPX_Health_Sector_stocks = pd.read_csv(csv)

In [43]:
SPX_Health_Sector_stocks.head()

,Ticker,Date,Open,High,Low,Close,Trading Volume,Volume Weighted Average Price,Number of Transactions
0,ABT,2020-03-11,73.28,78.15,72.01,74.74,14123240.0,74.9395,113015
1,ABT,2020-03-12,77.91,82.67,74.83,81.65,18521541.0,77.7958,160884
2,ABT,2020-03-15,70.65,79.25,70.00,73.66,14358978.0,75.4936,113523
3,ABT,2020-03-16,75.52,79.79,73.34,79.49,13441141.0,77.9694,124950
4,ABT,2020-03-17,74.98,81.99,74.39,79.26,17680823.0,78.7228,141919

In [44]:
len(SPX_Health_Sector_stocks)

29221

In [46]:
#SPX_Health_Sector_stocks_NVAX=SPX_Health_Sector_stocks.append(NVAX_df)
SPX_Health_Sector_stocks_app=SPX_Health_Sector_stocks.append(Covid_stocks)

In [47]:
len(SPX_Health_Sector_stocks_app)

30135

In [50]:
SPX_Health_Sector_stocks_app.to_csv('../Datasets/SPX_Health_Sector_stocks_all.csv',index=False)