In [1]:
import os
import pandas as pd

In [28]:
# Path
path = "/Users/swang/UCB/Final_Project/Datasets/Health_Sector_stocks_API"

In [29]:
# Join various path components
csv=os.path.join(path, "SPX_Health_Sector_stocks_all.csv")
print(csv)

/Users/swang/UCB/Final_Project/Health_Sector_stocks_API/SPX_Health_Sector_stocks_all.csv

In [30]:
SPX_Health_Sector_stocks = pd.read_csv(csv)

In [31]:
SPX_Health_Sector_stocks.head()

,Ticker,Date,Open,High,Low,Close,Trading Volume,Volume Weighted Average Price,Number of Transactions
0,ABT,2020-03-11,73.28,78.15,72.01,74.74,14123240.0,74.9395,113015
1,ABT,2020-03-12,77.91,82.67,74.83,81.65,18521541.0,77.7958,160884
2,ABT,2020-03-15,70.65,79.25,70.00,73.66,14358978.0,75.4936,113523
3,ABT,2020-03-16,75.52,79.79,73.34,79.49,13441141.0,77.9694,124950
4,ABT,2020-03-17,74.98,81.99,74.39,79.26,17680823.0,78.7228,141919

In [33]:
covid_vaccine_companies=["PFE","AZN","BNTX","MRNA","JNJ","NVAX"]

In [34]:
covid_companies_df=pd.DataFrame()

In [35]:
for ticker in covid_vaccine_companies:
    df=SPX_Health_Sector_stocks[SPX_Health_Sector_stocks['Ticker']==ticker]
    covid_companies_df=covid_companies_df.append(df)
    next

In [36]:
covid_companies_df.head()
covid_companies_df.groupby('Ticker').count()

,Date,Open,High,Low,Close,Trading Volume,Volume Weighted Average Price,Number of Transactions
Ticker,,,,,,,,
AZN,457,457,457,457,457,457,457,457
BNTX,457,457,457,457,457,457,457,457
JNJ,457,457,457,457,457,457,457,457
MRNA,457,457,457,457,457,457,457,457
NVAX,457,457,457,457,457,457,457,457
PFE,457,457,457,457,457,457,457,457

In [38]:
covid_companies_df.to_csv('../Datasets/Covid_Companies_Stocks.csv',index=False)

### subset covid data

In [10]:
# Path
path = "/Users/swang/UCB/Final_Project/Final_Project/Datasets"

In [11]:
# Join various path components
csv=os.path.join(path, "worldometer_coronavirus_daily_data.csv")
print(csv)

/Users/swang/UCB/Final_Project/Final_Project/Datasets/worldometer_coronavirus_daily_data.csv

In [12]:
Covid_data = pd.read_csv(csv)

In [13]:
Covid_data.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN

In [23]:
Covid_data['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia And Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Caribbean Netherlands', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China Hong Kong Sar', 'China Macao Sar', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa Rica', 'Cote D Ivoire', 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Democratic Republic Of The Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands Malvinas', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea Bissau',
       'Guinea', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Isle Of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Barthelemy', 'Saint Helena',
       'Saint Kitts And Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre And Miquelon', 'Saint Vincent And The Grenadines',
       'Samoa', 'San Marino', 'Sao Tome And Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'State Of Palestine', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor Leste', 'Togo',
       'Tonga', 'Trinidad And Tobago', 'Tunisia', 'Turkey',
       'Turks And Caicos Islands', 'Uganda', 'UK', 'Ukraine',
       'United Arab Emirates', 'Uruguay', 'USA', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Wallis And Futuna Islands',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [25]:
Covid_data_US=Covid_data[Covid_data['country']=='USA']

In [34]:
Covid_data_US.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
145825,2020-2-15,USA,15.0,NaN,12.0,0.0,NaN
145826,2020-2-16,USA,15.0,0.0,12.0,0.0,NaN
145827,2020-2-17,USA,15.0,0.0,12.0,0.0,NaN
145828,2020-2-18,USA,15.0,0.0,12.0,0.0,NaN
145829,2020-2-19,USA,15.0,0.0,12.0,0.0,NaN

In [37]:
Covid_data_US.dtypes

date                        object
country                     object
cumulative_total_cases     float64
daily_new_cases            float64
active_cases               float64
cumulative_total_deaths    float64
daily_new_deaths           float64
dtype: object

In [35]:
Covid_data_US.to_csv('../Datasets/Covid_data_US.csv',index=False)