In [27]:
import os
import pandas as pd

In [28]:
# Path
path = "/Users/swang/UCB/Final_Project/Datasets/Health_Sector_stocks_API"

In [29]:
# Join various path components
csv=os.path.join(path, "SPX_Health_Sector_stocks_all.csv")
print(csv)

/Users/swang/UCB/Final_Project/Health_Sector_stocks_API/SPX_Health_Sector_stocks_all.csv

In [30]:
SPX_Health_Sector_stocks = pd.read_csv(csv)

In [31]:
SPX_Health_Sector_stocks.head()

,Ticker,Date,Open,High,Low,Close,Trading Volume,Volume Weighted Average Price,Number of Transactions
0,ABT,2020-03-11,73.28,78.15,72.01,74.74,14123240.0,74.9395,113015
1,ABT,2020-03-12,77.91,82.67,74.83,81.65,18521541.0,77.7958,160884
2,ABT,2020-03-15,70.65,79.25,70.00,73.66,14358978.0,75.4936,113523
3,ABT,2020-03-16,75.52,79.79,73.34,79.49,13441141.0,77.9694,124950
4,ABT,2020-03-17,74.98,81.99,74.39,79.26,17680823.0,78.7228,141919

In [33]:
covid_vaccine_companies=["PFE","AZN","BNTX","MRNA","JNJ","NVAX"]

In [34]:
covid_companies_df=pd.DataFrame()

In [35]:
for ticker in covid_vaccine_companies:
    df=SPX_Health_Sector_stocks[SPX_Health_Sector_stocks['Ticker']==ticker]
    covid_companies_df=covid_companies_df.append(df)
    next

In [36]:
covid_companies_df.head()
covid_companies_df.groupby('Ticker').count()

,Date,Open,High,Low,Close,Trading Volume,Volume Weighted Average Price,Number of Transactions
Ticker,,,,,,,,
AZN,457,457,457,457,457,457,457,457
BNTX,457,457,457,457,457,457,457,457
JNJ,457,457,457,457,457,457,457,457
MRNA,457,457,457,457,457,457,457,457
NVAX,457,457,457,457,457,457,457,457
PFE,457,457,457,457,457,457,457,457

In [38]:
covid_companies_df.to_csv('../Datasets/Covid_Companies_Stocks.csv',index=False)