# Analyzing effects of the Pandemic on Stock Market

- Stock performance on (Covid-19 producers) vs (Healthcare sector)
  - Identify if covid-19 producers are out-performing during pandemic timeframe
  
- We get data from Kaggle for COVID companies' vaccines from their stock data which has four columns of prices: Open, High, Low, Close.
  - Resource: [SPX_Health_Sector_info](https://datahub.io/core/s-and-p-500-companies#resource-s-and-p-500-companies_zip)
  - Resource: [Polygon API](https://api.polygon.io/v2/aggs/ticker/EDIT/range/1/day/2020-03-12/2021-12-31?adjusted=true&sort=asc&limit=730&apiKey=3KpZPDXRUCksP8Xb5AJKkXI02s8x5VXx)

### Overview of two datasets:
##### - SPX_Health_Sector_info.csv
##### - SPX_Health_Sector_stocks.csv

In [2]:
import pandas as pd
health_info = pd.read_csv("datasets_complete/SPX_Health_Sector_info.csv")
health_stocks = pd.read_csv("datasets_complete/SPX_Health_Sector_stocks_all.csv")

In [3]:
# Top 5 rows of health_info dataset
health_info.head()

  Ticker               Company       Sector
0    ABT   Abbott Laboratories  Health Care
1   ABBV                AbbVie  Health Care
2   ABMD               Abiomed  Health Care
3      A  Agilent Technologies  Health Care
4   ALGN      Align Technology  Health Care

In [4]:
# Top 5 rows of ALL stocks in healthCare sector.
health_stocks.head()

,Ticker,Date,Open,High,Low,Close,Trading Volume,Volume Weighted Average Price,Number of Transactions
0,ABT,2020-03-11,73.28,78.15,72.01,74.74,14123240.0,74.9395,113015
1,ABT,2020-03-12,77.91,82.67,74.83,81.65,18521541.0,77.7958,160884
2,ABT,2020-03-15,70.65,79.25,70.00,73.66,14358978.0,75.4936,113523
3,ABT,2020-03-16,75.52,79.79,73.34,79.49,13441141.0,77.9694,124950
4,ABT,2020-03-17,74.98,81.99,74.39,79.26,17680823.0,78.7228,141919

### Question: 

Stock performance on (Covid-19 producers) vs (Healthcare sector)

- Which companies are vaccine companies? 

  - Pfizer, Astrazeneca, Biontech, Moderna, Novavax & Johnson & Johnson
  
  (*note that SPX, which stands for Standard & Poor's 500 Index, is a stock index that is composed of the top 500 U.S. publically traded companies by market capitalization. Astrazeneca is a British-Swedish multinational pharmaceutical and biotechnology company, thus is not in the dataset.)

Identify if covid-19 producers are out-performing during pandemic timeframe

In [5]:
bio_tech_companies = (health_info["Company"] == "Pfizer")|(health_info["Company"] == "Astrazeneca")|(health_info["Company"] == "Bio-Techne")|(health_info["Company"] == "Moderna")| (health_info["Company"] == "Novavax") | (health_info["Company"] == "Johnson & Johnson")
health_info[bio_tech_companies]

   Ticker            Company       Sector
11   TECH         Bio-Techne  Health Care
38    JNJ  Johnson & Johnson  Health Care
44   MRNA            Moderna  Health Care
47    PFE             Pfizer  Health Care

#### Tickers

TECH: Bio-Techne

JNJ: Johnson & Johnson

MRNA: Moderna

PFE: Pfizer

Novavax???

In [6]:
# Checking if we have NVAX in health_stocks dataset. None was found in dataset.
health_stocks[health_stocks["Ticker"] == "NVAX"]

,Ticker,Date,Open,High,Low,Close,Trading Volume,Volume Weighted Average Price,Number of Transactions
28764,NVAX,2020-03-11,9.510,10.47,9.15,9.29,5488378.0,9.6803,29246
28765,NVAX,2020-03-12,9.500,9.73,7.52,8.41,6115375.0,8.3492,29065
28766,NVAX,2020-03-15,7.770,8.14,6.77,6.91,4779370.0,7.3645,26430
28767,NVAX,2020-03-16,8.000,10.19,7.85,9.50,11623967.0,9.0007,51842
28768,NVAX,2020-03-17,8.850,11.48,8.80,10.65,11034050.0,10.6100,51365
...,...,...,...,...,...,...,...,...,...
29216,NVAX,2021-12-26,168.555,169.39,155.11,157.80,8934203.0,160.0433,159765
29217,NVAX,2021-12-27,153.160,175.99,153.10,155.84,12384643.0,162.9178,185409
29218,NVAX,2021-12-28,153.280,155.28,144.56,153.25,7511780.0,150.6786,111874
29219,NVAX,2021-12-29,152.780,159.00,148.86,154.83,5093321.0,154.1007,82034
29220,NVAX,2021-12-30,151.470,156.81,141.51,143.07,9096268.0,147.5569,136453

In [7]:
# Going to confirm if we have all the tickers in health_stocks dataset.
health_stocks_grouped = health_stocks.groupby("Ticker").mean().reset_index()

In [8]:
tech = (health_stocks_grouped["Ticker"] == "TECH")
jnj = (health_stocks_grouped["Ticker"] == "JNJ")
mrna = (health_stocks_grouped["Ticker"] == "MRNA")
pfe = (health_stocks_grouped["Ticker"] == "PFE")
nvax = (health_stocks_grouped["Ticker"] == "NVAX")

health_stocks_grouped[tech | jnj | mrna | pfe | nvax]

,Ticker,Open,High,Low,Close,Trading Volume,Volume Weighted Average Price,Number of Transactions
39,JNJ,156.597147,157.860809,155.297358,156.588621,7.665814e+06,156.597481,80705.925602
45,MRNA,168.193166,174.032215,162.749246,168.896236,1.635277e+07,168.603666,184799.975930
47,NVAX,144.280074,150.692114,137.922014,144.341958,5.782316e+06,144.409323,69980.286652
49,PFE,39.586145,40.023168,39.122255,39.574923,3.363763e+07,39.566838,167039.428884
55,TECH,358.834158,364.209563,353.362007,358.958403,2.278757e+05,358.847335,5868.698031

** Seems like we are missing stock information for Novavax

to be continued...